@import url('https://fonts.googleapis.com/css?family=Outfit:200,300,400');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600');
:root {
    --main-background-colour: #2C2C39;
    --accent-blue: #1C77FF;
    --accent-green: #00D566;
    --main-text-colour: #FFFFFF;
    --secondary-text-colour: #BEBEBE;
}

body {
    background-color: var(--main-background-colour);
    font-family: 'Outfit', sans-serif;
    color: var(--main-text-colour);
}


/* Home section */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh 15%;
    font-size: clamp(30px, 7vw, 46px);
    font-weight: 200;
    height: 80vh; 
}

.name-highlight {
    color: var(--accent-blue);
    font-weight: 500;
}

.welcome-message {
    max-width: 811px;
    line-height: clamp(2pc, 7vw, 4pc);
}

.contact-section {
    font-size: clamp(20px, 4vw, 24px);
}

.contact-link {
    color: var(--main-text-colour);
    text-decoration: none;
    border-bottom: 2px solid var(--accent-blue);
    padding: 0px 3px;
    transition: 0.3s ease-in-out;
}

.contact-link:hover {
    background-color: var(--accent-blue);
    transition: 0.5s ease-out;
}

/* About section */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 0;
    font-size: 20px;
    font-weight: 200;
    width: 60vw;
    margin: 0 auto;
}

.about-content {
    color: var(--secondary-text-colour);
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: clamp(250px, 60vw, 800px);
    font-size: clamp(18px, 2vw, 20px);
}

.about-content p {
    max-width: 805px;
}

.highlight {
    color: var(--main-text-colour);
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.highlight:hover {
    color: var(--accent-blue);
    transition: 0.3s ease-in-out;
}

.header-blue {
    width: 100px;
    /* padding-right: 5%; */
    color: var(--accent-blue);
    font-size: 20px;
    font-weight: 400;
}


/* Skills section */

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    /* flex-wrap: wrap; */
    font-size: 20px;
    font-weight: 200;
    padding: 5% 0;
    width: 60vw;
    margin: 0 auto;
}

.skill-header {
    color: var(--main-text-colour);
    font-weight: 400;
    font-size: clamp(18px, 2vw, 20px);
    height: 25px;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(5px, 2vw, 100px);
    width: clamp(250px, 60vw, 800px);
    color: var(--secondary-text-colour);
}


.skill-item li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(18px, 2vw, 20px);
}

.green-check {
    width: 25px;
    padding-right: 5px;
}

.resume {
    display: flex;
    align-items: end;
    width: 400px;
    height: 50px;
    color: var(--main-text-colour);
}


/* Projects section */

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    font-weight: 200;
    padding: 5% 0;
    width: 60vw;
    margin: 0 auto;
}

.projects-content {
    width: clamp(250px, 60vw, 800px);
}

.project {
    display: flex;
    gap: clamp(10px, 5vw, 40px);
    max-width: 800px;
}

.project-image {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-title {
    font-size: 24px;
}

.project-description {
    font-size: clamp(18px, 2vw, 20px);
}

.project-languages {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: clamp(13px, 1vw, 15px);
    font-weight: 600;
    color: var(--accent-green);
}

/* Footer section*/

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 200;
    padding: 3% 0;
    width: 90vw;
    margin: 0 auto;
}

.footer-name {
    font-size: 24px;
    font-weight: 300;
    color: var(--main-text-colour);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.footer-links a {
    font-size: 17px;
    font-weight: 400;
    color: var(--main-text-colour);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.footer-links a:hover {
    color: var(--accent-blue);
    transition: 0.3s ease-in-out;
}



@media (max-width: 785px) {

    .about-container {
        flex-direction: column;
        gap: 25px;
    }

    .about-content {
        padding-left: 10%;
    }
    
    .skills-container {
        flex-direction: column;
        gap: 25px;
    }

    .skills-content {
        flex-wrap: wrap;
        padding-left: 10%;
    }
    
    .green-check {
        width: 20px;
    }
    
}
